aside {
  background-color: var(--light-color-primary);
  min-width: var(--element-min-width);
  max-width: 310px;
  height: 100%;
}

.header-main {
  background-color: var(--dark-color-accent);
  height: 210px;
  clip-path: polygon(100% 0, 100% 66%, 17% 100%, 0 67%, 0 0);
  padding: 1rem;
}

.header-main p {
  font-size: var(--fs-1);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

.aside-main h3 {
  padding: 0;
  margin: 0;
}

.contacts__contact {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
}

.contacts__contact a {
  color: var(--white);
}
