.toggle-button {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 75px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--lightest-color-slate);
}

.toggle-button .toggle-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  //background-color: var(--white);
  background-color: red;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  transition: all var(--easing) 200ms;
}

.toggle-button::before {
  content: "moon";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightest-color-slate);
  color: hsl(0, 0%, 24%);
  transform: translate(15%);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  transition: all var(--easing) 200ms;
}

.toggle-button::after {
  content: "light";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 0.7rem;
  transform: translate(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: hsl(0, 0%, 24%);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  transition: all var(--easing) 200ms;
}

.toggle-button.active::after {
  width: 100%;
  transform: translate(-18%);
}

.toggle-button.active::before {
  transform: translateX(100%);
}

.toggle-button.active .toggle-circle {
  transform: translate(150%);
}
