.wrapper {
  display: flex;
  height: 100%;
  max-width: 1080px;
  margin: auto;
}

.wrapper > .aside {
  flex: 1 1 40%;
  display: none;
}

.wrapper > main {
  flex: 1 1 60%;
  margin-left: 2rem;
}

.row-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}

.hystorique {
  display: flex;
}
