.wrapper {
  display: flex;
  height: 100%;
  max-width: 1080px;
  margin: auto;
}

.wrapper > .aside {
  flex: 2;
  display: none;
}

.wrapper > main {
  flex: 6;
}

.row-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}

.certifications,
.hystorique,
.tools__list {
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  box-shadow: 2px 2px 5px var(--dark-color-primary);
}

.hystorique {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-accent-tint);
}

.certifications,
.tools__list,
.projects {
  background-color: var(--light-color-primary);
  padding: 1rem;
  border-radius: var(--border-radius-medium);
}

.certifications__grid,
.tools__grid,
.projects__gird {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
}

.formations,
.experiences {
  flex: 1 1 300px;
}

.tools__list {
  padding: 2.5rem 1rem;
  border-radius: var(--border-radius-medium);
}

.tools__label {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--fs--1);
  color: var(--color-accent);
  text-transform: capitalize;
}

.col {
  position: relative;
}

@media screen and (min-width: 768px) {
  .hystorique {
    flex-direction: row;
  }

  .col {
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .certifications__grid,
  .tools__grid,
  .projects__gird {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .tools__row:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%) translateX(50%);
    width: 2px;
    height: 110%;
    top: 50%;
    left: calc(100% / 3);
    background-color: var(--dark-color-secondary);
  }

  .tools__row:nth-child(2)::after {
    left: calc((100% / 3) * 2);
  }

  .tools__row.divider-2:nth-child(1)::after {
    left: calc(100% / 2);
  }
}
